<div class="field field-modelclass field-data-modelclass WildfireTest-modelclass clearfix">
  <label for="wildfire_test_model_class">Data Model</label>
  <select name="<?=$model->table?>[model_class]" id="<?=$model->table?>_model_class" class="input_field select_field validate valid-length">
    <option value=""></option>
    <?foreach($test_models as $model_class):?>
      <option value="<?=$model_class?>"<?=$model->model_class == $model_class?' selected="selected"':''?>><?=$model_class?></option>
    <?endforeach?>
  </select>
</div>

<div class="field clearfix">
  <label for="data_source">Data Source</label>
  <select name="data_source" id="data_source" class="input_field select_field">
    <option value="new"<?=$model->model_id?'':' selected="selected"'?>>New Data</option>
    <option value="existing"<?=$model->model_id?' selected="selected"':''?>>Existing Data</option>
  </select>
</div>

<?=$fields['model_id']->render()?>

<div class="field clearfix">
  <?foreach($test_models as $model_class):?>
    <div id="existing_data_<?=$model_class?>" class="test-data-switcher<?=($model->model_id && $model_class == $model->model_class)?' active':''?>">
      <?=partial("_list", array('cms_content'=>$data_rows[$model_class], "scaffold_columns"=>$data_scaffold[$model_class], "operation_actions"=>array("Choose"), "primval"=>$model->model_id))?>
    </div>
  <?endforeach?>

  <?foreach($test_models as $model_class):?>
    <div id="new_data_<?=$model_class?>" class="test-data-switcher<?=(!$model->model_id && $model_class == $model->model_class)?' active':''?>">
      <?foreach(new WaxForm(new $model_class) as $el):?>
        <?=$el->render()?>
      <?endforeach?>
    </div>
  <?endforeach?>
</div>