<?if($model):?>
<form method="POST">
  <input type="submit" name="delete" value="Delete" id="delete">
  <table>
    <tr>
      <th></th>
      <?foreach($model->columns as $col_name => $col_data):?>
        <th><?=$col_name?></th>
      <?endforeach?>
    </tr>
    <?foreach($recordset as $record):?>
      <?$form = new WaxForm($record)?>
      <tr>
        <td class="select_box">
          <input type="checkbox" name="selected_model[<?=get_class($record)?>][]" value="<?=$record->id?>" id="selected_test_<?=$record->id?>"<?=in_array($record->id, (array)param("selected_test"))?' checked="checked"':''?>>
        </td>
        <td><input type="text" name="id" value="<?=$record->id?>" id="id"></td>
        <?foreach($form as $form_el):?>
          <?$form_el->show_label = 0?>
          <td><?=$form_el->render()?></td>
        <?endforeach?>
        <td><input type="submit" name="edit[<?=$form->id?>]" value="Edit" id="edit_<?=$form->id?>"></td>
      </tr>
    <?endforeach?>
    <?$form = new WaxForm($model)?>
    <tr>
      <td class="select_box">
      </td>
      <td><input type="text" name="id" value="" id="id"></td>
      <?foreach($form as $form_el):?>
        <?$form_el->show_label = 0?>
        <td><?=$form_el->render()?></td>
      <?endforeach?>
      <td><input type="submit" name="add" value="Add" id="add_<?=$form->id?>"></td>
    </tr>
  </table>
</form>
<?else:?>
<ul>
  <?foreach($classes as $class):?>
    <li><a href="?model_class=<?=$class?>"><?=$class?></a></li>
  <?endforeach?>
</ul>
<?endif?>
