<form action="/<?=$controller?>" method="POST">
  <input type="submit" name="run_selected_tests" value="Run Selected Tests" id="run_selected_tests">
  <table>
  <tr>
    <th>Select</th>
    <?foreach($tests->model->columns as $col_name => $col_data):?>
      <th><?=$col_name?></th>
    <?endforeach?>
    <th>Actions</th>
  </tr>
  <?foreach($tests as $test):?>
    <tr>
      <td class="actions">
        <input type="checkbox" name="selected_test[]" value="<?=$test->id?>" id="selected_test_<?=$test->id?>"<?=in_array($test->id, (array)param("selected_test"))?' checked="checked"':''?>>
      </td>
      <?foreach($tests->model->columns as $col_name => $col_data):?>
        <td><?=$test->$col_name?></td>
      <?endforeach?>
      <td class="actions">
        <a href="/<?=$controller?>?run_test=<?=$test->id?>">Run Test</a>
      </td>
    </tr>
  <?endforeach?>
  </table>
</form>